body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    #navContainer{
        padding-top: 20px;
        position: fixed; 
        display: flex;
        flex-direction: row;
        background-color: transparent;  

        img{
            padding-left: 2em;
            width: 120px;
            height: auto;
        }
        #buttons{
            padding-top: 50px;
            padding-left: 50em;
        }
        button{
            padding-left: 2em;
            display: inline-block;
            border: none;
	        outline: none;
	        background-color: transparent;
            color: white;
            font-family: 'Jacques Francois', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }
    }

    

    .container
	{
        width: 100%;
        height: 100%;
		scroll-snap-type: y mandatory;
		overflow-y: scroll;

        section 
		{
			display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
			scroll-snap-align: start;

            &:nth-of-type(1)
            {
                background-image: url(/resources/Group\ 4.svg);
                color: blue;
            }
            &:nth-of-type(2)
            {
                background-color: rgb(82, 82, 82);
                color: green;
            }
            &:nth-of-type(3)
            {
                background-color: rgb(140, 140, 140);
                color: rgb(243, 251, 1);
            }

			h1
			{
				font-family: Arial, Helvetica, sans-serif;
				font-size: 10em;
			}
        }
    }
}
